{{> header }}
{{> navCabinet }}

			<section class="ls ms section_padding_top_50 section_padding_bottom_50 columns_padding_5">
				<div class="container-fluid">

					<div class="row">
						<div class="col-sm-12">
							<h3>{{ title }}</h3>
						</div>
					</div>
					<!-- .row -->

					<form class="form-horizontal" action="#" id="form-gallery-album-add" >

						<div class="row">
							<div class="col-md-12">
								<div class="with_background with_padding">

									<h4>
										Введите данные
										<span class="pull-right">
											<button type="submit" class="theme_button small_button">Сохранить альбом</button>
										</span>
									</h4>

									<hr>
									<div class="row form-group">
										<label class="col-lg-3 control-label">Дата мероприятия: </label>
										<div class="col-lg-9">
											<input type="date" class="form-control" id="event-date" name="event_date">
										</div>
									</div>

									<div class="row form-group">
										<label class="col-lg-3 control-label">Название альбома: </label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="title" name="title">
										</div>
									</div>

									<div class="row form-group">
										<label class="col-lg-3 control-label">Краткое описание: </label>
										<div class="col-lg-9">
											<textarea rows="5" class="form-control" id="description" name="description"></textarea>
										</div>
									</div>

                  <div class="row form-group">
										<label class="col-lg-3 control-label">Категория:</label>
										<div class="col-lg-9">
											<select class="form-control" name="category" id="category">
												<option selected disabled>Выберите категорию...</option>
                        {{#each categories}}
												<option value={{ @index }}>{{ this }}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="row form-group">
										<label class="col-lg-3 control-label">Обложка: </label>
										<div class="col-lg-9">
											<input type="file" class="form-control" id="cover" name="cover">
										</div>
									</div>

                  <div class="col-sm-12" id="message-box"></div>

									<div class="row">
										<div class="col-sm-12 text-right">
											<button type="submit" class="theme_button wide_button">Сохранить альбом</button>
											<a href="/my/cabinet/gallery" class="theme_button inverse wide_button">Отменить</a>
										</div>
									</div>
									<!-- .row  -->

								</div>
								<!-- .with_background -->

							</div>
							<!-- .col-* -->
						</div>
						<!-- .row  -->
					</form>
				</div>
			</section>

			<section class="ls">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							&copy; Copyrights 2017
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
  <script src="/js/vendor/inputmask.min.js"></script>
  <script src="/js/vendor/just-validate.production.min.js"></script>
  <script src="/js/vendor/axios.min.js"></script>
	<script src="/js/compressed.js"></script>
	<script src="/js/vendor/Chart.bundle.min.js"></script>
	<script src="/js/main.js"></script>
  <script src="/js/autoclub.js"></script>
	<script src="/js/admin-charts.js"></script>

</body>

</html>
