{{> header }}
{{> navTop }}

			<section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>{{title}}</h2>
							<ol class="breadcrumb">
								<li>
									<a href="/">Главная</a>
								</li>
								<li class="active">{{title}}</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_150 section_padding_bottom_120">
				<div class="container">
					<div class="row bottommargin_40">
						<div class="col-sm-12">
							<div class="intro_section blog_flexslider">
								<div class="flexslider" data-nav="false" data-dots="false">
									<ul class="slides">
										<li class="ds">
											<img src="images/gallery/03.jpg" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<p class="big grey">
																		we provide highest quality
																		<br>
																		<strong class="highlight">towing services</strong>
																	</p>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>

										<li class="ds">
											<img src="images/gallery/04.jpg" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<p class="big grey">
																		we provide highest quality
																		<br>
																		<strong class="highlight">towing services</strong>
																	</p>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>

										<li class="ds">
											<img src="images/gallery/05.jpg" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<p class="big grey">
																		we provide highest quality
																		<br>
																		<strong class="highlight">towing services</strong>
																	</p>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>

									</ul>
								</div>
								<!-- eof flexslider -->
							</div>
						</div>
					</div>

					<div class="row columns_margin_bottom_30 bottommargin_20">
						<div class="col-sm-12 text-center">
							<h2 class="section_header">Top
								<strong>Posts</strong>
							</h2>
							<p class="small-text">We have the correct tie</p>
							<hr class="divider_30_3 zebra_bg">
						</div>

						<div class="col-md-4 col-sm-6">

							<article class="vertical-item content-padding post format-standard with_border text-center">

								<div class="item-media entry-thumbnail">
									<img src="images/gallery/01.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">What You Should Know About Towing Capacity</a>
										</h3>

									</header>
									<!-- .entry-header -->

									<p>What is stopping you from believing in the business of your dreams? Insecurity? Fear? Lack of confidence?</p>

									<div class="entry-meta">

										<div class="entry-date small-text">
											<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
												September 26, 2016
											</time>
										</div>

										<a href="#" class="entry-author">by Admin</a>

									</div>

								</div>
								<!-- .item-content.entry-content -->
							</article>

						</div>

						<div class="col-md-4 col-sm-6">

							<article class="vertical-item content-padding post format-standard with_border text-center">

								<div class="item-media entry-thumbnail">
									<img src="images/gallery/02.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Towing Service - How to Choose a Quality Service</a>
										</h3>

									</header>
									<!-- .entry-header -->

									<p>You can’t truly plan for a road side break-down and road accidents. But in the midst of all the confusion...</p>

									<div class="entry-meta">

										<div class="entry-date small-text">
											<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
												September 19, 2016
											</time>
										</div>

										<a href="#" class="entry-author">by Admin</a>

									</div>

								</div>
								<!-- .item-content.entry-content -->
							</article>

						</div>

						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">

							<article class="vertical-item content-padding post format-standard with_border text-center">

								<div class="item-media entry-thumbnail">
									<img src="images/gallery/03.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">4 Reasons You May Need Heavy Towing For Your Car</a>
										</h3>

									</header>
									<!-- .entry-header -->

									<p>Your automobile is bound to run into issues, whether it be the brakes or the engine, cars simply are not meant...</p>

									<div class="entry-meta">

										<div class="entry-date small-text">
											<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
												September 07, 2016
											</time>
										</div>

										<a href="#" class="entry-author">by Admin</a>

									</div>

								</div>
								<!-- .item-content.entry-content -->
							</article>

						</div>

					</div>

					<div class="row">

						<div class="col-sm-7 col-md-8 col-lg-8">

							<article class="vertical-item content-padding post format-standard with_border">

								<div class="item-media entry-thumbnail">
									<img src="images/gallery/01.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post With Large Image</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>

								</div>
								<!-- .item-content.entry-content -->
							</article>
							<!-- .post -->

							<article class="post format-small-image with_border">

								<div class="side-item content-padding">

									<div class="row">

										<div class="col-md-5">
											<div class="item-media entry-thumbnail">
												<img src="images/events/05.jpg" alt="">
												<div class="media-links">
													<a class="abs-link" title="" href="blog-single-right.html"></a>
												</div>
											</div>
										</div>

										<div class="col-md-7">
											<div class="item-content top-zebra-border">

												<header class="entry-header content-justify">

													<h3 class="entry-title">
														<a href="blog-single-right.html" rel="bookmark">Post With Small Image</a>
													</h3>

													<a href="#" class="entry-author">by Admin</a>


												</header>
												<!-- .entry-header -->

												<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

												<div class="entry-date small-text">
													<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
														September 26, 2016
													</time>
												</div>

											</div>
										</div>

									</div>
								</div>

							</article>
							<!-- .post -->


							<article class="vertical-item content-padding post format-gallery with_border">

								<div class="entry-thumbnail item-media">
									<div class="owl-carousel" data-loop="true" data-margin="0" data-nav="false" data-dots="true" data-themeclass="entry-thumbnail-carousel" data-center="false" data-items="1" data-autoplay="true" data-responsive-xs="1" data-responsive-sm="1" data-responsive-md="1"
									    data-responsive-lg="1">
										<div class="item">
											<img src="images/gallery/12.jpg" alt="image">
										</div>
										<div class="item">
											<img src="images/gallery/03.jpg" alt="image">
										</div>
										<div class="item">
											<img src="images/gallery/04.jpg" alt="image">
										</div>
									</div>

								</div>


								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post With Carousel</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>


								</div>
								<!-- .item-content.entry-content -->
							</article>
							<!-- .post -->


							<article class="vertical-item content-padding post format-video with_border">


								<div class="entry-thumbnail item-media">
									<div class="embed-responsive embed-responsive-3by2">
										<a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
											<img src="images/gallery/02.jpg" alt="">
										</a>
									</div>
									<!-- <iframe src="//player.vimeo.com/video/1084537" width="1000" height="460"></iframe> -->
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post With Vimeo Video</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>


								</div>
								<!-- .item-content.entry-content -->
							</article>

							<article class="vertical-item content-padding post format-video with_border">

								<div class="entry-thumbnail item-media">
									<div class="embed-responsive embed-responsive-3by2">
										<a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
											<img src="images/gallery/09.jpg" alt="">
										</a>
									</div>

									<!-- <iframe width="1000" height="460" src="https://www.youtube.com/embed/mcixldqDIEQ" allowfullscreen></iframe> -->
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post With Yotube Video</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>


								</div>
								<!-- .item-content.entry-content -->


							</article>


							<article class="vertical-item content-padding with_border post format-aside">
								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post Format: Aside</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<p>Strip steak andouille tongue, bresaola bacon cupim beef ribs turducken. Shank short ribs beef ribs frankfurter. Tail hamburger rump, capicola brisket corned beef strip steak. Venison landjaeger turkey biltong drumstick.</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>
								</div>
								<!-- eof .item-content -->
							</article>


							<article class="vertical-item content-padding text-center ds bg_teaser after_cover darkgrey_bg post format-status">
								<img src="images/status.jpg" alt="">
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta">
											<img alt="" src="images/team/02.jpg" class="avatar avatar-96 photo avatar-default topmargin_20">

										</div>
										<!-- .entry-meta -->
									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post Format: Status</a>
										</h3>


										<div class="entry-meta item-meta">

											<div class="entry-date small-text">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													September 26, 2016
												</time>
											</div>

											<a href="#" class="entry-author">by Admin</a>

										</div>
										<!-- .entry-meta -->
									</div>
									<!-- .entry-content -->
								</div>
								<!-- eof .item-content -->
							</article>

							<article class="vertical-item content-padding with_border post format-link">
								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post Format: Link</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>

								</div>
								<!-- eof .item-content -->
							</article>


							<article class="vertical-item content-padding with_border post format-image">
								<div class="item-meida entry-thumbnail post-thumbnail">

									<img src="images/gallery/06.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>
								<!-- .item-media -->

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post fomrat: Image</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>
								</div>
								<!-- eof .item-content -->
							</article>


							<article class="vertical-item content-padding ds bg_teaser after_cover darkgrey_bg post format-quote">
								<img src="img/parallax/testimonials.jpg" alt="">
								<div class="item-content entry-content">

									<div class="entry-content">
										<blockquote>
											<p>Cow salami hamburger biltong, meatball tongue leberkas fatback pig pork capicola pastrami ribeye. Chuck pork chop salami kielbasa, venison meatball fatback t-bone shankle. Kielbasa capicola chicken ground round leberkas.
												<cite class="lightfont">
													<a href="http://www.brainyquote.com/quotes/quotes/m/marktwain163473.html" class="small-text">Christina Aguilar</a>
													<br>
													<span>Manager</span>
												</cite>
											</p>
										</blockquote>
									</div>
									<!-- .entry-content -->
								</div>
								<!-- eof .item-content -->
							</article>

							<article class="vertical-item content-padding with_border post format-chat">

								<div class="item-media entry-thumbnail post-thumbnail">

									<img src="images/gallery/06.jpg" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="blog-single-right.html"></a>
									</div>
								</div>
								<!-- .item-media -->

								<div class="item-content entry-content top-zebra-border">

									<header class="entry-header content-justify">

										<h3 class="entry-title">
											<a href="blog-single-right.html" rel="bookmark">Post fomrat: Image</a>
										</h3>

										<a href="#" class="entry-author">by Admin</a>


									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										<p>Abbott: Strange as it may seem, they give ball players nowadays very peculiar names.</p>
										<p>Costello: Funny names?</p>
										<p>Abbott: Nicknames, nicknames. Now, on the St. Louis team we have Who's on first, What's on second, I Don't Know is on third–</p>
										<p>Costello: That's what I want to find out. I want you to tell me the names of the fellows on the St. Louis team.</p>
										<p>Abbott: I'm telling you. Who's on first, What's on second, I Don't Know is on third–</p>
										<p>Costello: You know the fellows' names?</p>
										<p>Abbott: Yes.</p>

									</div>
									<!-- .entry-content -->

									<div class="entry-date small-text topmargin_20">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											September 26, 2016
										</time>
									</div>

								</div>
								<!-- eof .item-content -->
							</article>


							<div class="row topmargin_40">
								<div class="col-sm-12 text-center">
									<ul class="pagination">
										<li>
											<a href="#">
												<span class="sr-only">Prev</span>
												<i class="fa  fa-angle-left"></i>
											</a>
										</li>
										<li class="active">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">5</a>
										</li>
										<li>
											<a href="#">
												<span class="sr-only">Next</span>
												<i class="fa fa-angle-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<!--eof .col-sm-8 (main content)-->

						<!-- sidebar -->
						<aside class="col-sm-5 col-md-4 col-lg-4">


							<div class="widget widget_apsc_widget">
								<h3 class="widget-title text-center">Get
									<strong>In Touch</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
								<div class="apsc-icons-wrapper clearfix apsc-theme-4">
									<div class="apsc-each-profile">
										<a class="apsc-facebook-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-facebook apsc-facebook"></i>
													<span class="apsc-count">24.7K</span>
													<span class="apsc-media-type">Friends</span>
												</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-twitter-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-twitter apsc-twitter"></i>
													<span class="apsc-count">10.4K</span>
													<span class="apsc-media-type">Followers</span>
												</span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-google-plus-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-google-plus apsc-google-plus"></i>
													<span class="apsc-count">6.3K</span>
													<span class="apsc-media-type">Fans</span>
												</span>
											</div>
										</a>
									</div>
								</div>

							</div>


							<div class="widget widget_mailchimp">

								<h3 class="widget-title text-center">
									<strong>Newsletter</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">

								<form class="signup form-inline" action="./" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="Enter your email">
									</div>
									<button type="submit" class="theme_button">Send</button>
									<div class="response"></div>
								</form>

								<p class="topmargin_10">Subscribe to our Newsletter right now to be updated. We promice not to spam!</p>

							</div>


							<div class="widget widget_flickr">

								<h3 class="widget-title text-center">Flickr
									<strong>Widget</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
								<ul id="flickr"></ul>
							</div>

							<div class="widget widget_categories">

								<h3 class="widget-title text-center">
									<strong>Categories</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
								<form class="topmargin_60" method="post" action="./">

									<div class="form-group select-group">
										<label for="category" class="sr-only">Select Category</label>
										<div class="input-group">
											<select aria-required="true" id="category" name="category" class="choice empty form-control">
												<option value="" disabled selected data-default>Select Category</option>
												<option value="january">Categoty 1</option>
												<option value="february">Categoty 2</option>
												<option value="march">Categoty 3</option>
												<option value="january">Categoty 4</option>
												<option value="february">Categoty 5</option>
												<option value="march">Categoty 6</option>
											</select>
										</div>
									</div>

								</form>
							</div>

							<div class="widget widget_recent_posts">

								<h3 class="widget-title text-center">Recent
									<strong>Posts</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
								<ul class="media-list">
									<li>
										<h4>
											<a href="blog-single-right.html">Eod tempor invidunt labore dolore magna</a>
										</h4>
										<p>Cupim t-bone hamburger sirloin, biltong pork picanha turducken pancetta meatball.</p>
										<div class="content-justify">
											<div class="entry-date small-text">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													September 26, 2016
												</time>
											</div>
											<a href="#" class="entry-author">by Admin</a>
										</div>
									</li>

									<li>
										<h4>
											<a href="blog-single-right.html">T-bone Ham Meatloaf Biltong Pig Pastra Bacon Boudin Chicken</a>
										</h4>
										<p>Pork chop hamburger landjaeger meatloaf, cow bacon drumstick shoulder rump.</p>
										<div class="content-justify">
											<div class="entry-date small-text">
												<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
													September 07, 2016
												</time>
											</div>
											<a href="#" class="entry-author">by Admin</a>
										</div>
									</li>

								</ul>
							</div>

							<div class="widget widget_archive">

								<h3 class="widget-title text-center">
									<strong>Archives</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
								<form class="topmargin_60" method="post" action="./">

									<div class="form-group select-group">
										<label for="archive" class="sr-only">Select Month</label>
										<div class="input-group">
											<select aria-required="true" id="archive" name="archive" class="choice empty form-control">
												<option value="" disabled selected data-default>Select Month</option>
												<option value="january">January</option>
												<option value="february">February</option>
												<option value="march">March</option>
												<option value="january">April</option>
												<option value="february">May</option>
												<option value="march">June</option>
												<option value="march">July</option>
												<option value="march">August</option>
												<option value="march">September</option>
												<option value="march">October</option>
												<option value="march">November</option>
												<option value="march">December</option>
											</select>
										</div>
									</div>

								</form>
							</div>


						</aside>
						<!-- eof aside sidebar -->

					</div>
				</div>
			</section>

{{> footer }}
